<div class="list-group mb-3">
    <a asp-controller="Account" asp-action="EditUser" class="list-group-item list-group-item-action">
        User Information
    </a>
    <a asp-controller="Account" asp-action="EditUser" class="list-group-item list-group-item-action">
        Address Information
    </a>
    <a asp-controller="Account" asp-action="EditUser" class="list-group-item list-group-item-action">
        Orders        
    </a>
    <a asp-controller="Account" asp-action="ChangePassword" class="list-group-item list-group-item-action">
        Change Password        
    </a>
</div>