@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@{
    Layout = "_AdminLayout";
}

<div class="row">
        <div class="col">
          <div class="card shadow">
            <div
              class="card-header py-1 d-flex justify-content-between align-items-center"
            >
              <h5 class="card-title">Users</h5>
              <a  href="#" class="btn btn-sm btn-primary">
                <i class="fa-solid fa-plus"></i>
              </a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-strip mb-0">
                  <thead class="table-secondary">
                    <tr>
                      <th>Id</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th style="width: 50px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach(var cat in Model)
                    {
                    <tr>
                      <td>@cat.Id</td>
                      <td>@cat.UserName</td>
                      <td>@cat.Email</td>
                      <td class="text-nowrap">
                        <a
                           asp-action="Edit" 
                           asp-route-id="@cat.Id"
                          class="btn btn-primary btn-sm"
                        >
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                         
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
   