@model Product

<div class="card mb-3 shadow">
    <img src="/img/@Model.productImage" class="card-img-top p-3 pt-0 " style="height: 250px; object-fit: contain;""> 
    <div class=" card-body bg-light">
        <h5 class="card-title">@Model.productTitle</h5>
        <p class="card-text">@Model.productExplation</p>
        @if (!Model.productStock)
        {
            <p>Out Of Stock</p>

        }
                        
        <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id"
           class="btn btn-primary d-flex justify-content-center">Details</a>
    </div>
</div>