<div class="row">
    <div class="col-xl-3 col-md-2 mb-4">
        <div class="card border-left-success shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="fw-bold text-primary text-uppercase mb-1">
                            Sales
                        </div>
                        <div class="h5 mb-0 fw-bold">40.000₺</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-2 mb-4">
        <div class="card border-left-primary shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="fw-bold text-primary text-uppercase mb-1">
                            Order
                        </div>
                        <div class="h5 mb-0 fw-bold">142</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-truck fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-2 mb-4">
        <div class="card border-left-warning shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="fw-bold text-primary text-uppercase mb-1">
                            Product Stock
                        </div>
                        <div class="h5 mb-0 fw-bold">293</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-2 mb-4">
        <div class="card border-left-primary shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <div class="fw-bold text-primary text-uppercase mb-1">
                            Messages
                        </div>
                        <div class="h5 mb-0 fw-bold">163</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-message fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>