<nav
        class="navbar bg-dark border-bottom border-body navbar-expand-lg"
        data-bs-theme="dark"
      >
        <div class="container">
          <a href="index.html" class="navbar-brand">Admin</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a asp-controller="Category" asp-action="Index" class="nav-link">Category</a>
              </li>
              <li class="nav-item">
                <a asp-controller="Product" asp-action="Index" class="nav-link">Product</a>
              </li>
              <li class="nav-item">
                <a asp-controller="Slider" asp-action="Index" class="nav-link">Slider</a>
              </li>
              <li class="nav-item">
                <a href="role.html" class="nav-link">Role</a>
              </li>
              <li class="nav-item">
                <a href="user.html" class="nav-link">User</a>
              </li>
              <li class="nav-item">
                <a href="orders.html" class="nav-link">Orders</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >Serhan Basozmen</a
                >
                <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item">My Account</a></li>
                  <li><a href="#" class="dropdown-item">Logout</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="login.html" class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                <a href="register.html" class="nav-link">Create Account</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>