<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header pb-0">
                <h5 class="card-title">Last Orders</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-strip mb-0">
                        <thead class="table-secondary">
                            <tr>
                                <th>Order Id</th>
                                <th>Username</th>
                                <th>Totally</th>
                                <th>Date</th>
                                <th>State</th>
                                <th style="width: 40px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5</td>
                                <td>serhanbaba</td>
                                <td>3000₺</td>
                                <td>01/01/2026</td>
                                <td>
                                    <span class="badge bg-primary">Awaiting Approval</span>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-sm">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>ahmetk31l</td>
                                <td>213₺</td>
                                <td>07/02/2026</td>
                                <td>
                                    <span class="badge bg-primary">Awaiting Approval</span>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-sm">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>erdema35</td>
                                <td>6053₺</td>
                                <td>07/12/2026</td>
                                <td>
                                    <span class="badge bg-primary">Awaiting Approval</span>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-sm">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>emine245</td>
                                <td>110₺</td>
                                <td>02/03/2026</td>
                                <td>
                                    <span class="badge bg-primary">Awaiting Approval</span>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-sm">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>halilag23</td>
                                <td>220₺</td>
                                <td>01/12/2026</td>
                                <td>
                                    <span class="badge bg-primary">Awaiting Approval</span>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-sm">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>