@model Course


<div class="row justify-content-center">
     <div class="col-8">
       <div class="card">
         <img src="~/img/@Model.Image" class="card-img-top" alt="">
         <div class="card-body">
             <h5 class="card-title">@Model.Title</h5>
             <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, corrupti.</p>
             <a href="#" class="card-link">Examine</a>
        </div>
     </div>
   </div>
</div>