<nav class="navbar navbar-dark bg-primary navbar-expand-md">
        <div class="container">
          <button
            type="button"
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#" class="nav-link ps-0">Electronic</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Books</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Sports</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Healt</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Fashion</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Food</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >Others</a
                >
                <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item">Category 1</a></li>
                  <li><a href="#" class="dropdown-item">Category 2</a></li>
                  <li><a href="#" class="dropdown-item">Category 3</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>